*.egg
*.egg-info/
*.py[cod]
*.so
*~
.cache/
.coverage
.docker_cache/
.env
.mypy_cache
.pytest_cache
.python-version
.rasa
.tox
.venv
.vscode
.drone.yml
k8s.yaml
/api/venv
/backup/
/data
/db/
/nlu/models
/nlu/results
/nlu/train_test_split
/nlu/venv
/worker/results
/worker/venv
__pycache__/
